{% extends "layout.njk" %}

{% block content %}
    <div class="card index-container">
        <div class="card-header">
            <h2>Kits Cadastrados</h2>
            <div class="buttons">
                <a href="/kits/create" class="button">Novo Kit</a>
            </div>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição do kit</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for kit in kits %}
                    <tr>
                        <td>
                            {{kit.id}}
                        </td>
                        <td>
                            {{kit.description}}
                        </td>
                        <td>
                            <a href="/kits/{{kit.id}}/edit" class="button">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}