<!DOCTYPE html>
<html>

    <head>

        {% block head %}

            <title>Smartprint</title>

        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <header>
            <img src="/assets/logo.svg" alt="">
            <div class="links">
                <div class="link">
                    <a href="/home">
                        <i class="material-icons">home</i>
                        Home
                    </a>
                </div>
                <div class="link">
                    <a href="/stock">
                        <i class="material-icons">archive</i>
                        Estoque
                    </a>
                </div>
                <div class="link">
                    <a href="/items">
                        <i class="material-icons">widgets</i>
                        Itens
                    </a>
                </div>
                <div class="link">
                    <a href="/kits">
                        <i class="material-icons">storage</i>
                        Kits
                    </a>
                </div>
                <div class="link">
                    <a href="/orders">
                        <i class="material-icons">list_alt</i>
                        Pedidos
                    </a>
                </div>
                <div class="link">

                    <a href="/clients">
                        <i class="material-icons">account_circle</i>
                        Clientes
                    </a>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>

    </body>

</html>