<div class="item">
    <div>Cliente</div>
    <div>
        <select name="client_id">
            {% for client in clients %}
                <option value="{{client.id}}" {% if order.client_id == client.id %} selected="selected" {% endif %}>{{client.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>