{% extends "layout.njk" %}

{% block content %}
    <div class="card index-container">
        <div class="card-header">
            <h2>Pedidos Cadastrados</h2>
            <div class="buttons">
                <a href="/orders/create" class="button">Novo Pedido</a>
            </div>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Número do pedido</th>
                    <th>Cliente</th>
                    <th>Data de entrada</th>
                    <th>Data de finalização</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {{order.id}}
                        </td>
                        <td>
                            {{order.client_name}}
                        </td>
                        <td>
                            {{order.start_date}}
                        </td>
                        <td>
                            {{order.finish_date}}
                        </td>
                        <td>
                            {{order.status}}
                        </td>
                        <td>
                            <a href="/orders/{{order.id}}" class="button">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}