{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>Detalhes</h2>
            <div class="buttons">
                <a href="/orders/{{order.id}}/edit" class="button edit-button">Editar</a>
                <a href="/orders" class="button">Itens</a>
            </div>
        </div>
        <section class="details">
            <div class="item">
                <div>Descrição</div>
                <div>{{order.client_id}}</div>
            </div>
        </section>
    </div>

{% endblock content %}