{% extends "layout.njk" %}

{% block content %}
    <div class="card .kits-index-container">
        <div class="card-header">
            <h2>Pedido N° {{order.id}}</h2>
            <div class="buttons">
                {% if order.status != "Pronto" %}
                    <a href="/orders/{{order.id}}/createItem" class="button">Novo item</a>
                    <form action="/orders/createPack" method="post">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <button type="submit" class="button yellow-button">Gerar pacote</button>
                    </form>
                    <form action="/ordersStock?_method=PUT" method="post" id="form-ready">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <button type="submit" class="button">Pronto</button>
                    </form>
                {% endif %}
                <form action="/orders?_method=DELETE" method="post" id="form-delete">
                    <input type="hidden" name="id" value="{{ order.id }}">
                    <button type="submit" class="delete-button">Excluir pedido</button>
                </form>
                <a href="/orders" class="button">Pedidos</a>
            </div>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantidade</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                            {{item.quantity}}
                        </td>
                        <td>
                            {% if order.status != "Pronto" %}
                                <a href="/ordersItems/{{item.id}}/edit" class="button">Editar</a>
                            {% else %}
                                <a href="#" class="button disable-button">Editar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "confirmDelete.njk" %}
    {% include "confirmReady.njk" %}

{% endblock content %}