{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>{{pack.description}}</h2>
        </div>
        <form action="/packsItems" method="POST" class="details">
            
            {% include "packs/fieldsItem.njk" %}

            <input type="hidden" name="pack_id" value="{{ pack.id }}">

            <button type="submit">Salvar Item</button>
        </form>

    </div>
{% endblock content %}