{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>Novo Pacote</h2>
        </div>
        <form action="/packs" method="POST" class="details">
            
            {% include "packs/fields.njk" %}

            <button type="submit">Criar Pacote</button>
        </form>

    </div>
{% endblock content %}