{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>Detalhes</h2>
            <div class="buttons">
                <form action="/packs?_method=DELETE" method="post" id="form-delete">
                    <input type="hidden" name="id" value="{{ pack.id }}">
                    <button type="submit" class="delete-button">Excluir pacote</button>
                </form>

            </div>
        </div>
        <form action="/packs?_method=PUT" method="post" class="details">

            {% include "packs/fields.njk" %}

            <input type="hidden" name="id" value="{{ pack.id }}">

            <button type="submit">Salvar pacote</button>
        </form>
    </div>

    {% include "confirmDelete.njk" %}

{% endblock content %}