{% extends "layout.njk" %}

{% block content %}
    <div class="card kits-index-container">
        <div class="card-header">
            <h2>Produção</h2>
            <div class="buttons">
                <a href="/packs/create" class="button">Novo Pacote</a>
            </div>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição do pacote</th>
                    <th>Data inicial</th>
                    <th>Data final</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for pack in packs %}
                    <tr>
                        <td>
                            {{pack.id}}
                        </td>
                        <td>
                            {{pack.description}}
                        </td>
                        <td>
                            {{pack.start_date}}
                        </td>
                        <td>
                            {{pack.finish_date}}
                        </td>
                        <td>
                            {{pack.status}}
                        </td>
                        <td>
                            <a href="/packs/{{pack.id}}" class="button">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}