{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>Detalhes</h2>
            <div class="buttons">
                <form action="/clients?_method=DELETE" method="post">
                    <input type="hidden" name="id" value="{{ client.id }}">
                    <button type="submit" class="delete-button">Excluir cliente</button>
                </form>

            </div>
        </div>
        <form action="/clients?_method=PUT" method="post" class="details">

            {% include "clients/fields.njk" %}

            <input type="hidden" name="id" value="{{ client.id }}">

            <button type="submit">Salvar item</button>
        </form>
    </div>

{% endblock content %}