{% extends "layout.njk" %}

{% block content %}
    <div class="card index-container">
        <div class="card-header">
            <h2>Clientes Cadastrados</h2>
            <div class="buttons">
                <a href="/clients/create" class="button">Novo Cliente</a>
            </div>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome do cliente</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>
                            {{client.name}}
                        </td>
                        <td>
                            <a href="/clients/{{client.id}}/edit" class="button">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}