{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>Detalhes</h2>
            <div class="buttons">
                <a href="/clients/{{client.id}}/edit" class="button edit-button">Editar</a>
                <a href="/clients" class="button">Clientes</a>
            </div>
        </div>
        <section class="details">
            <div class="item">
                <div>Nome do cliente</div>
                <div>{{client.name}}</div>
            </div>
        </section>
    </div>

{% endblock content %}