{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/items">
    
        <section class="details">

            <h3>Novo Item</h3>

            {% include "items/fields.njk" %}

        </section>

    </form>

{% endblock content %}