{% extends "layout.njk" %}

{% block content %}
    <div class="card index-container">
        <div class="card-header">
            <h2>Itens Cadastrados</h2>
            <div class="buttons">
                <a href="/items/create" class="button">Novo Item</a>
            </div>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição do item</th>
                    <th>Largura (mm)</th>
                    <th>Altura (mm)</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                            {{item.width}}
                        </td>
                        <td>
                            {{item.height}}
                        </td>
                        <td>
                            <a href="/items/{{item.id}}/edit" class="button">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}