{% extends "layout.njk" %}

{% block content %}
    <div class="card item-show-container">
        <div class="header-card">
            <h2>Detalhes</h2>
            <a href="/items/{{item.id}}/edit" class="button">Editar</a>
        </div>
        <section class="details">

            <div class="item">
                <div>Item</div>
                <div>{{item.description}}</div>
            </div>

            <div class="item">
                <div>Criado em</div>
                <div>{{item.created_at}}</div>
            </div>

        </section>
    </div>
{% endblock content %}