{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="details">
            <button><a href="/kits/create">Create</a></button>
        </section>
    </div>

{% endblock content %}