<script>
    const formReady = document.querySelector("#form-ready")

    formReady.addEventListener('submit', function (event) {
        const confirmation = confirm('Você tem certeza dessa ação?')
        if (!confirmation) {
            event.preventDefault()
        }

    })
</script>