<div class="item">
    <div>Descrição</div>
    <div>
        <input type="text" name="description" placeholder="Insira a descrição do item aqui" value="{{ item.description }}">
    </div>
</div>

{# <div class="item">
    <div>Largura (mm)</div>
    <div>
        <input type="number" name="width" value="{{ item.width }}">
    </div>
</div>

<div class="item">
    <div>Altura (mm)</div>
    <div>
        <input type="number" name="height" value="{{ item.height }}">
    </div>
</div> #}