{% extends "layout.njk" %}

{% block content %}
    <div class="card show-edit-create-container">
        <div class="card-header">
            <h2>Detalhes</h2>
            <div class="buttons">
                <a href="/items/{{item.id}}/edit" class="button edit-button">Editar</a>
                <a href="/items/create" class="button">Novo Item</a>
                <a href="/items" class="button">Itens</a>
            </div>
        </div>
        <section class="details">
            <div class="item">
                <div>Descrição</div>
                <div>{{item.description}}</div>
            </div>
            <div class="item">
                <div>Largura (mm)</div>
                <div>{{item.width}}</div>
            </div>
            <div class="item">
                <div>Altura (mm)</div>
                <div>{{item.height}}</div>
            </div>
        </section>
    </div>

{% endblock content %}